$white: white;
$op: #09e701;
$meta: #64c642;
$good: #98d85d;
$decent: #dad72c;
$average: #dfb708;
$moderate: #e7862c;
$inferior: #dd5119;
$trash: #c20000;
$ruygye: #e453cc;
$experience: #2161bf;
$lightBlueGrey: #7587a6;
$mediumBlueGrey: #2d3748;
$mediumBlue: #3779b6;
$alphaMediumGrey: #2d3748cc;
$darkBlueGrey: #1a202c;

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.crypto-raider-stats-container {
  margin: 0 5px;
  width: 90px;
  //width: 15%;
  display: flex;
  flex-direction: column;
  .crypto-raider-stats {
    display: flex;
    height: 15px;
    margin-bottom: 1px;
    .text-container {
      width: 50%;
      padding: 0;
      .text-content {
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }
  }
}

.raider-spsh-animation {
  height: 32.5px;
  width: 24px;
  animation: third-row-sprite 1.5s steps(4) infinite;
  transform: scale(2);
  image-rendering: pixelated;
  .raider-spsh-animation {
    position: absolute;
    transform: scale(1);
  }
}

@keyframes third-row-sprite {
  from {
    background-position: 0px 64px;
  }
  to {
    background-position: 96px 64px;
  }
}

.overview-icon {
  z-index: 1;
  image-rendering: pixelated;
  width: 30px;
  transform: scale(1.25);
}

.current-hover-item-overview {
  display: flex;
  justify-content: space-between;
  text-align: right;
  .overview-icon {
    width: 100px;
    transform: scale(0.75);
  }
}

.inventory-raider-overview-container {
  position: absolute;
  height: auto;
  max-height: 100vh;
  width: 375px;
  top: 0px;
  right: -375px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.inventory-raider-overview-container > div {
  background-color: $mediumBlueGrey;
  border-left: 2px solid $darkBlueGrey;
  width: 375px;
  padding: 0 12px 8px 12px;
}

.compute-overview-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.full-compute {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partial-compute {
  width: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.compute-header {
  height: 55px;
  padding-bottom: 5px;
  display: flex;
  .full-compute {
    justify-content: center;
  }
  .partial-compute {
    justify-content: end;
  }
}

.compute-stats-container {
  display: flex;
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
}

.radar-chart {
  display: flex;
  justify-content: center;
  position: relative;
  height: 220px;
}

.radar-container {
  width: 300px;
  position: absolute;
  top: -35px;
}

.compute-bar {
  width: 80%;
  margin: 5px;
  height: 2px;
  border-radius: 2px;
  background-color: $darkBlueGrey;
}

.Error {
  background: #ad0b0b !important;
}

.Syncing {
  background: #1b63a7 !important;
}

.Done {
  background: #25ac6d !important;
}

.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cr-ext-btn {
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: auto;
  line-height: 1.2;
  border-radius: var(--chakra-radii-md);
  font-weight: var(--chakra-fontWeights-semibold);
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  height: var(--chakra-sizes-10);
  min-width: var(--chakra-sizes-10);
  font-size: var(--chakra-fontSizes-md);
  padding-inline-start: var(--chakra-space-4);
  padding-inline-end: var(--chakra-space-4);
  color: var(--chakra-colors-gray-800);
  background: #146cbe;
}

.little-cr-ext-btn {
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: auto;
  line-height: 1.2;
  border-radius: var(--chakra-radii-md);
  font-weight: var(--chakra-fontWeights-semibold);
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  height: var(--chakra-sizes-10);
  min-width: var(--chakra-sizes-10);
  font-size: var(--chakra-fontSizes-md);
  padding-inline-start: var(--chakra-space-4);
  padding-inline-end: var(--chakra-space-4);
  color: white;
  background: #5d7b96;
}

.custom-inventory-table > div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.custom-inventory-table-head > div {
  background: rgba(0, 0, 0, 0.5);
}
.custom-inventory-table-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;

  &:nth-child(2n) {
    background: rgba(0, 0, 0, 0.5);
  }
}
.custom-inventory-table-row > div:nth-child(1) {
  width: 3em;
  // Equipped
}
.custom-inventory-table-row > div:nth-child(2) {
  width: 13em;
}
.custom-inventory-table-row > div:nth-child(3) {
  width: 7em;
}
.custom-inventory-table-row > div:nth-child(4),
.custom-inventory-table-row > div:nth-child(5),
.custom-inventory-table-row > div:nth-child(6),
.custom-inventory-table-row > div:nth-child(7),
.custom-inventory-table-row > div:nth-child(8),
.custom-inventory-table-row > div:nth-child(9) {
  text-align: center;
  width: 3em;
}
.custom-inventory-table-row > div:nth-child(10) {
  width: 3em;
}
.custom-inventory-equip {
  cursor: pointer;
}

.mob-idle-animated {
  width: 64px;
  -webkit-animation: mobIdle 0.7s steps(5) infinite;
  -moz-animation: mobIdle 0.7s steps(5) infinite;
  animation: mobIdle 0.7s steps(5) infinite;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  position: absolute;
}

@-webkit-keyframes mobIdle {
  0% {
    background-position: 0 0;
  }

  to {
    background-position: -320px 0;
  }
}

@-moz-keyframes mobIdle {
  0% {
    background-position: 0 0;
  }

  to {
    background-position: -320px 0;
  }
}

@keyframes mobIdle {
  0% {
    background-position: 0 0;
  }

  to {
    background-position: -320px 0;
  }
}

@keyframes waveLoading {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: +100px 0px;
  }
}
.loading {
  animation: waveLoading 0.3s linear infinite;
  background-image: linear-gradient(
    77deg,
    rgba(255, 255, 255, 0) 17%,
    rgba(0, 0, 0, 0.4) 42%,
    rgba(0, 0, 0, 0.4) 58%,
    rgba(255, 255, 255, 0) 85%
  );
  background-size: 100px 100px;
}
