//VARIABLES
$white: white;
$op: #09e701;
$meta: #64c642;
$good: #98d85d;
$decent: #dad72c;
$average: #dfb708;
$moderate: #e7862c;
$inferior: #dd5119;
$trash: #c20000;
$ruygye: #e453cc;
$experience: #2161bf;
$lightBlueGrey: #7587a6;
$mediumBlueGrey: #2d3748;
$mediumBlue: #3779b6;
$darkBlueGrey: #1a202c;

$human: #e4c47a;
$whiteElf: #e7e7e7;
$blueElf: #5d7ad8;
$orc: #26bd21;
$fairy: #d634c9;
$skeleton: #858585;
$cyborg: #9b4c4c;
$darkElf: #353535;

$common: '#9D9D9D';
$uncommon: '#1EFF00';
$rare: '#0070DD';
$epic: '#A335EE';
$legendary: '#FF8000';
$mythic: '#E6CC80';
$heirloom: '#00CCFF';
$limited: '#FFFFFF';

.popup {
  background-color: $darkBlueGrey;
  display: flex;
  flex-direction: column;
  height: 600px;
  .header {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-around;
    p {
      color: white;
    }
    z-index: 2;
    background-color: $darkBlueGrey;
  }
  .footer {
    width: 100%;
    height: 50px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    z-index: 2;
    background-color: $darkBlueGrey;
    Button {
      margin-right: 8px;
      line-height: 1em;
    }
  }
}

#scrollBar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $darkBlueGrey;
  border-radius: 10px;
}

#scrollBar::-webkit-scrollbar {
  width: 15px;
  border-radius: 10px;
  background-color: $darkBlueGrey;
}

#scrollBar::-webkit-scrollbar-thumb {
  background-color: $lightBlueGrey;
  border-radius: 10px;
}

.raider-character {
  height: auto;
  margin-top: 8px;
  .raider-background {
    padding: 15px 0px 0px 24px;
    image-rendering: pixelated;
    background: url(https://crypto-raiders-assets.storage.googleapis.com/bg.png);
    background-size: contain;
    width: 75px;
    height: 75px;
  }
  .raider-spsh-animation {
    height: 32.5px;
    width: 24px;
    animation: third-row-sprite 1.5s steps(4) infinite;
    transform: scale(2);
    image-rendering: pixelated;
    .raider-spsh-animation {
      position: absolute;
      transform: scale(1);
    }
  }

  @keyframes third-row-sprite {
    from {
      background-position: 0px 64px;
    }
    to {
      background-position: 96px 64px;
    }
  }
}

.crypto-raider-stats-container {
  margin: 0 5px;
  width: 90px;
  //width: 15%;
  display: flex;
  flex-direction: column;
  .crypto-raider-stats {
    display: flex;
    height: 15px;
    margin-bottom: 1px;
    .text-container {
      width: 50%;
      padding: 0;
      .text-content {
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }
  }
}

.crypto-raiders-list {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 1;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.crypto-raider-container {
  width: 99%;
  //height: 115px;
  padding: 5px 5px;
  margin: 5px 5px 0px 5px;
  border-radius: 2px;
  display: block;
  position: relative;
  transition: 0.5s;
  .header-bar {
    height: 1px;
    background-color: $lightBlueGrey;
    margin: 0 5px 8px 5px;
  }
  .normal-mode {
    height: 100px;
    display: flex;
    .crypto-raider {
      margin: 0 5px;
      width: 74px;
      display: block;
      .text-container {
        width: 100%;
      }
    }
    .crypto-raider-infos-container {
      //width: 20%;
      width: 75px;
      margin: 0 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .text-container {
        .text-content {
          margin: 0;
          padding: 0;
          text-align: center;
        }
      }
    }
    .crypto-raider-dungeon-container {
      margin: 0 5px;
      display: flex;
      flex-direction: column;
      width: auto;
      justify-content: space-between;

      .last-dungeon-review {
        width: 200px;
        height: 100%;
        h1 {
          width: 100%;
          height: 15px;
          margin-bottom: 3px;
          font-size: 14px;
          font-weight: 700;
        }
        .dungeon-review {
          display: flex;
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          background-color: $lightBlueGrey;
          border-radius: 2px;
          .dungeon-review-row {
            display: flex;
            height: 30px;
            .dungeon-icon {
              width: 48px;
              height: 48px;
              transform: scale(0.75);
              image-rendering: pixelated;
              background-position: 0 -432px;
              background-image: url(https://storage.googleapis.com/crypto-raiders-assets/items_o.png);
            }
            .dungeon-desc {
              display: flex;
              flex-direction: column;
              align-items: center;
              height: 100%;
              width: 100%;
              p {
                width: 100%;
                height: 50%;
                margin: 2px;
              }
            }
            .dungeon-stats {
              display: flex;
              width: 100%;
              justify-content: space-between;
              margin: 5px;
              .text-container {
              }
            }
          }
        }
      }
    }
  }
  .expert-mode {
    height: 165px;
    display: flex;
    .crypto-raider-compute-build-container {
      margin: 5px;
      width: 180px;
      display: flex;
      flex-direction: column;
      .text-container {
        width: 100%;
        padding: 0;
      }
      .crypto-raider-stats {
        display: flex;
        height: 15px;
        margin-bottom: 1px;
        .build-stat {
          width: 60%;
          margin: 0 16px 5px 0;
          .text-container {
            width: 100%;
            padding: 0;
          }
        }
        .text-container {
          width: 40%;
          padding: 0;
          margin: 0 0 5px 0;
        }
        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  .hide {
    display: none;
  }
}

.crypto-raider-meta-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .equipped-items-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 85px;
    .item {
      width: 25px;
      height: 25px;
      margin: 5px;
      transform: scale(1.5);
      align-self: center;
      image-rendering: pixelated;
    }
    .text-container {
      z-index: 1;
      .text-content {
        text-align: center;
      }
    }
  }
}

.experience-bar-container {
  background-color: $lightBlueGrey;
  border-radius: 2px;
  height: 15px;
  margin: 0px 8px 5px 0;
  width: 100%;
  position: relative;
  .experience-bar-fill {
    background-color: $experience;
    border-radius: 2px;
    height: 100%;
    height: 15px;
  }
  .experience-text {
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: inherit;
    text-align: center;
    font-size: 11px;
    text-overflow: clip;
    z-index: 2;
  }
}

p {
  margin: 0;
  color: $white;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: inherit;
  font-size: 12px;
  text-transform: capitalize;
}

h1 {
  color: $white;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: inherit;
  font-size: 16px;
  text-transform: capitalize;
}

.text-container {
  width: 100%;
  border-radius: 2px;
  padding: 0 7px;
  height: 15px;
  margin: 0px 8px 5px 0;
  transition: all 0.3s;
  display: flex;
  .text-content {
    width: 100%;
    height: 100%;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: inherit;
    text-transform: capitalize;
    text-overflow: clip;
    font-size: 11px;
    text-align: left;
  }
}

.none {
  color: $lightBlueGrey;
}
.white {
  color: $white;
}
.op {
  color: $op;
}
.meta {
  color: $meta;
}
.good {
  color: $good;
}
.decent {
  color: $decent;
}
.average {
  color: $average;
}
.moderate {
  color: $moderate;
}
.inferior {
  color: $inferior;
}
.trash {
  color: $trash;
}
.ruygye {
  color: $ruygye;
}
.human {
  color: $human;
}
.white_elf {
  color: $whiteElf;
}
.blue_elf {
  color: $blueElf;
}
.orc {
  color: $orc;
}
.fairy {
  color: $fairy;
}
.skeleton {
  color: $skeleton;
}
.cyborg {
  color: $cyborg;
}
.dark_elf {
  color: $darkElf;
}
.title {
  color: $mediumBlue;
  text-transform: uppercase !important;
}

.crypto-raider-export-mode-switch {
  position: absolute !important;
  z-index: 10;
  right: -10px;
  top: -3px;
  transform: scale(0.5);
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

ul.tabSelector {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  list-style: none;

  color: #aaaaaa;
  cursor: pointer;

  margin: 0;

  li.active {
    color: #ffffff;
  }
}
